.container{
  border: 1px solid black;
  width: 100%;
}

.menu > ul{
  display: flex;
  justify-content: end;
  gap: 30px;
  margin-right: 120px;
  font-size: 1.1rem;
}

.img_div > img{
  width: 100%;
  height: 200px;
  background-image: '../../public/booksotre_banner.png';
  background-size: contain;
  background-position: center 70%;
  background-repeat: no-repeat;
  image-rendering: pixelated;
}