.input{
  font-size: 0.9rem;
  padding: 0.3rem;
  width: 250px;
  border: 1px solid #111144;
  border-radius: 4px;
  outline: none;
  transition: all 0.2s;
}

.input:focus{
  border-color: #2c2ca0;
  box-shadow: 0 0 0 0.25rem rgba(167, 216, 300, 0.25);
}