.input{
  font-size: 0.9rem;
  padding: 0.3rem;
  width: 250px;
  border: 1px solid #111144;
  border-radius: 4px;
  outline: none;
  transition: all 0.2s;
}

.input:focus{
  border-color: #2c2ca0;
  box-shadow: 0 0 0 0.25rem rgba(167, 216, 300, 0.25);
}

/* 사이즈별 input 크기 */
.short{
  width: 130px;
  height: 30px;
  padding: 10px 8px;
  border-radius: 2px;
}

.medium{
  width: 200px;
  height: 32px;
  padding: 8px 10px;
  border-radius: 4px;
}

.long{
  width: 300px;
  height: 40px;
  padding: 10px 15px;
  border-radius: 4px;
}

.longest{
  width: 100%;
  height: 40px;
  padding: 10px 15px;
  border-radius: 4px;
}