<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 해당 파일에 모든 쿼리문을 작성 -->
<!-- namespace에는 xml파일과 연결할 Mapper interface 파일명을 패키지를 포함하여 적어주세요 -->
<mapper namespace="com.house.practiceitem.mapper.ItemMapper">
 <resultMap id="item" type="com.house.practiceitem.dto.ItemDTO">
     <id column="ITEM_NO" property="itemNo"/>
     <result column="ITEM_NAME" property="itemName"/>
     <result column="ITEM_PRICE" property="itemPrice"/>
     <result column="REGNAME" property="regname"/>
     <result column="ITEM_INTRO" property="itemIntro"/>
     <result column="REGDATE" property="regdate"/>
 </resultMap>

    <!--전체 상품 목록 조회 쿼리-->
    <select id="allItemList" resultMap="item">
        SELECT ITEM_NO
            , ITEM_NAME
            , ITEM_PRICE
            , REGNAME
            , REGDATE
          FROM ITEM_BOARD
         ORDER BY ITEM_NO DESC
    </select>

    <!--신상품 등록 쿼리-->
    <insert id="regItem">
        INSERT INTO ITEM_BOARD (
             ITEM_NAME
            , ITEM_PRICE
            , REGNAME
            ,ITEM_INTRO
        ) VALUES(
            #{itemName}
            ,#{itemPrice}
            ,#{regname}
            ,#{itemIntro}
        )
    </insert>

    <!--하나의 상품을 조회할 쿼리-->
    <select id="oneItem" resultMap="item">
        SELECT ITEM_NO
            , REGDATE
            , REGNAME
            , ITEM_PRICE
            , ITEM_NAME
            , ITEM_INTRO
          FROM ITEM_BOARD
         WHERE ITEM_NO = #{itemNo}
    </select>

    <!--하나의 상품을 삭제할 쿼리-->
    <delete id="deleteData">
        DELETE FROM ITEM_BOARD
         WHERE ITEM_NO = #{itemNo}
    </delete>
</mapper>































