<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 해당 파일에 모든 쿼리문을 작성 -->
<!-- namespace에는 xml파일과 연결할 Mapper interface 파일명을 패키지를 포함하여 적어주세요 -->
<mapper namespace="com.home.carshop.mapper.CarInfoMapper">
	<resultMap id="carInfo" type="com.home.carshop.dto.CarInfoDTO">
        <id column="MODEL_NUM" property="modelNum" />
        <result column="MODEL_NAME" property="modelName" />
        <result column="CAR_PRICE" property="carPrice" />
        <result column="MANUFACTURER" property="manufacturer" />
    </resultMap>

    <!--차량 등록 쿼리-->
    <insert id="regNewModel">
        INSERT INTO CAR_INFO (
            MANUFACTURER
            , MODEL_NAME
            , CAR_PRICE
        ) VALUES(
            #{manufacturer}
            , #{modelName}
            , #{carPrice}
        )
    </insert>

    <!--차량 목록 조회 쿼리-->
    <select id="selectCarList" resultMap="carInfo">
        SELECT MODEL_NUM
            , MODEL_NAME
            , CAR_PRICE
            , MANUFACTURER
          FROM CAR_INFO
         ORDER BY MODEL_NUM DESC
    </select>







</mapper>
































