<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 해당 파일에 모든 쿼리문을 작성 -->
<!-- namespace에는 xml파일과 연결할 Mapper interface 파일명을 패키지를 포함하여 적어주세요 -->
<mapper namespace="com.home.carshop.mapper.CarInfoMapper">
	<resultMap id="salesInfo" type="com.home.carshop.dto.SalesInfoDTO">
        <id column="SALES_NUM" property="salesNum" />
        <result column="SALES_NAME" property="salesName" />
        <result column="SALES_TEL" property="salesTel" />
        <result column="SALES_COLOR" property="salesColor" />
        <result column="SALES_DATE" property="salesDate" />
        <result column="MODEL_NUM" property="modelNum" />
    </resultMap>

    <!--구매자 등록 쿼리-->
    <insert id="regSales">
        INSERT INTO SALES_INFO(
            SALES_NAME
            , SALES_COLOR
            , SALES_TEL
        ) VALUES(
            #{salesName}
            , #{salesColor}
            , #{salesTel}
            , (
                SELECT MODEL_NAME
                FROM CAR_INFO C INNER JOIN SALES_INFO S
                ON C.MODEL_NUM = S.MODEL_NUM
                WHERE C.MODEL_NAME = #{modelName}
            )
        )
    </insert>






</mapper>































