@font-face {
  font-family: 'NanumSquareNeo';
  src: url(https://hangeul.pstatic.net/hangeul_static/webfont/NanumSquareNeo/NanumSquareNeoTTF-aLt.woff2);
  font-weight: 300;
  font-display: swap;
}

@font-face {
  font-family: '11StreetGothic';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/2601-4@1.1/11StreetGothic-KorLight.woff2') format('woff2');
  font-weight: 300;
  font-display: swap;
}

.container{
  width: 100%;
  min-height: 100vh;
  background-color: #19191b;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  gap: 20px;
}

.container > h2{
  font-size: 2.5rem;
  font-weight: bold;
  font-family: '11StreetGothic';
  letter-spacing: 0.7px;
}

.regForm_title_div{
  background-color: #222428;
  width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: baseline;
  border-radius: 5px;
  padding: 20px 55px 10px 55px;
  gap: 11px;
  font-family: '11StreetGothic';
  letter-spacing: 0.7px;
}

.regForm_title_div > div:first-child{
  font-size: 1.3rem;
}

.regForm_title_div p{
  font-size: 1.1rem;
  margin-bottom: 4px;
}

.line_div{
  border: 1px solid rgb(231, 231, 231);
  width: 100%;
  margin: 10px 0px;
}

.manufacturer_div select{
  width: 100%;
  height: 40px;
}


.carName_div{
  display: block;
  position: relative;
  margin: 10px 0px;
}

.carName_div > input{
  padding: 10px 32px;
  font-size: 0.9rem;
  font-family: 'NanumSquareNeo';
  font-weight: 600;
}

.price_div{
  position: relative;
  display: block;
  margin: 2px 0px 20px 0px;
}

.price_div > input{
  padding: 10px 32px;
  font-size: 0.9rem;
  font-family: 'NanumSquareNeo';
  font-weight: 600;
}

.regBtn_div > button{
  color: rgb(0, 0, 0);
  font-size: 1.1rem;
  font-family: 'NanumSquareNeo';
  font-weight: bold;
  cursor: pointer;
  margin: 5px 28%;
  height: 40px;
}

.regCarList_div{
  width: 30%;
  
}

.regCarList_div > h2{
  font-size: 2.5rem;
  font-weight: bold;
  margin-bottom: 15px;
  font-family: '11StreetGothic';
  letter-spacing: 0.7px;
  text-align: center;
}

.regCarList_div > div {
  background-color: #222428;
  padding: 10px 15px;
  border-radius: 4px;
}

.regCarList_div table{
  text-align: center;
}

.newModel_thead tr{
  border-bottom: 2px solid white;

}

.newModel_tbody tr{
  margin-top: 10px;
  border-bottom: 1px solid gray;
}

.newModel_thead td {
  padding-bottom: 13px;
  font-size: 1.1rem;
  font-family: '11StreetGothic';
}

.newModel_thead td:first-child{
  padding-right: 10px;
}

.newModel_tbody td{
  padding-top: 5px;
  padding-bottom: 5px;
  font-size: 1.0rem;
}

.newModel_tbody tr:hover{
  background-color: rgb(117, 117, 117);
}