@font-face {
    font-family: '11StreetGothic';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/2601-4@1.1/11StreetGothic-KorLight.woff2') format('woff2');
    font-weight: 300;
    font-display: swap;
}

.container{
  width: 100%;
  min-height: 100vh;
  background-color: #19191b;
  color: white;
  font-family: '11StreetGothic';
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.container > h2{
  font-size: 2.5rem;
  font-weight: bold;
  font-family: '11StreetGothic';
  letter-spacing: 0.7px;
}

.container > div{
  width: 25%;
  border-radius: 4px;
  background-color: #222428;
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 20px 50px 10px 50px;
  margin-bottom: 200px;
}

.salesRegForm_letter_div{
  font-size: 1.3rem;
  letter-spacing: 0.7px;
}

.line_div{
  border: 1px solid rgb(231, 231, 231);
  width: 100%;
  margin: 10px 0px;
}

.salesName_div{
  padding-left: 17px;
}

.salesName_div > input{
  width: 100%;
  margin-top: 5px;
}

.select_div{
  display: flex;
  justify-content: space-around;
}

.select_div select{
  width: 150px;
  height: 40px;
  margin-top: 5px;
}

.salesRegTel_div{
  padding-left: 17px;
}

.salesRegTel_div > input{
  width: 100%;
  margin-top: 5px;
}

.regBtn_div > button{
  color: rgb(0, 0, 0);
  font-size: 1.1rem;
  font-family: 'NanumSquareNeo';
  font-weight: bold;
  cursor: pointer;
  margin: 10px 23%;
  height: 40px;
  letter-spacing: 0.7px;
}

.errorMsgs{
  color: rgb(255, 132, 132);
  font-size: 0.8rem;
  margin-top: 5px;
  padding-left: 2px;
}