@font-face {
  font-family: '11StreetGothic';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/2601-4@1.1/11StreetGothic-KorLight.woff2') format('woff2');
  font-weight: 300;
  font-display: swap;
}

.container{
  width: 100%;
  min-height: 100vh;
  background-color: #19191b;
  color: white;
  font-family: '11StreetGothic';
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.container > h2{
  font-size: 2.5rem;
  font-weight: bold;
  letter-spacing: 0.7px;
}

.salesList_table_div{
  background-color: #222428;
  width: 45%;
  display: flex;
  flex-direction: column;
  justify-content: baseline;
  border-radius: 5px;
  gap: 15px;
  letter-spacing: 0.7px;
  padding: 10px 15px;
  margin-bottom: 500px;
}

.thead_tr > td{
  font-size: 1.2rem;
  padding-bottom: 15px;
  border-bottom: 2px solid white;
  text-align: center;
}

.salesList_tbody td{
 font-size: 1.1rem;
 text-align: center;
 padding-top: 10px;
 padding-bottom: 5px;
 border-bottom: 1px solid #707070;
}

.salesList_tbody tr:hover{
  background-color: rgb(117, 117, 117);
}
