<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 해당 파일에 모든 쿼리문을 작성 -->
<!-- namespace에는 xml파일과 연결할 Mapper interface 파일명을 패키지를 포함하여 적어주세요 -->
<mapper namespace="com.home.booksystem.mapper.BookMapper">
	<resultMap id="book" type="com.home.booksystem.dto.BookDTO">
        <id column="BOOK_NUM" property="bookNum"/>
        <result column="BOOK_TITLE" property="bookTitle" />
        <result column="AUTHOR" property="author" />
        <result column="PUBLISHER" property="publisher" />
        <result column="BOOK_PRICE" property="bookPrice" />
        <result column="BOOK_STOCK" property="bookStock" />
        <result column="BOOK_INTRO" property="bookIntro" />
        <result column="REG_DATE" property="regDate" />
    </resultMap>

    <!--도서 목록 조회 쿼리-->
    <select id="bookList" resultMap="book">
        SELECT BOOK_NUM
            , BOOK_TITLE
            , AUTHOR
            , PUBLISHER
            , BOOK_PRICE
            , BOOK_STOCK
            , REG_DATE
        FROM BOOK
        ORDER BY BOOK_NUM DESC
    </select>

    <!--도서 등록 쿼리-->
    <insert id="regBook">
        INSERT INTO BOOK (
            BOOK_TITLE
            , AUTHOR
            , PUBLISHER
            , BOOK_PRICE
            , BOOK_STOCK
            , BOOK_INTRO
        ) VALUES(
            #{bookTitle}
            , #{author}
            , #{publisher}
            , #{bookPrice}
            , #{bookStock}
            , #{bookIntro}
        )
    </insert>







</mapper>

































