@font-face {
  font-family: 'Paperozi';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/2408-3@1.0/Paperlogy-6SemiBold.woff2') format('woff2');
  font-weight: 600;
  font-display: swap;
}

@font-face {
  font-family: 'NanumSquareRound';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/NanumSquareRound.woff') format('woff');
  font-weight: normal;
  font-display: swap;
}

.container{
  width: 80%;
  margin: 0px auto;
  text-align: center;
  font-family: 'Paperozi';
}

.container h2{
  font-size: 2.2rem;
}

.icon{
  font-size: 2.6rem;
  vertical-align: middle;
  color: chocolate;
}

.search_div{
  display: flex;
  justify-content: center;
  margin-left: 480px;
}

.input_wrap{
  position: relative;
  display: inline-flex;
  align-items: center;
}

.search_Input{
  border-radius: 4px;
  border: 1px solid gray;
  height: 20px;
  padding-left: 30px;
  cursor: pointer;
}

.search_icon{
  position: absolute;
  top: 50%;
  left: 5%;
  transform: translateY(-50%);
  color: rgb(150, 70, 13);
  pointer-events: none;
  z-index: 10;
}

.search_Input:focus{
  outline: none;
  border: 2px solid rgb(255, 185, 157);
}

.table_div{
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 20px 0px;
  margin-bottom: 10px;
  font-size: 1.2rem;
}

.title_thead{
  background-color: rgb(250, 187, 187);
  text-align: center;
}

.title_thead > td{
  padding-bottom: 10px;
}

.title_thead:first-child{
  padding-right: 20px;
}

.title_thead :last-child{
  padding-left: 20px;
}

.tbody_div{
  font-family: 'NanumSquareRound';
  background-color: rgb(254, 249, 255);
}

.tbody_div > tr:hover{
  background-color: rgb(255, 218, 224);
}

.tbody_div:first-child{
  padding-right: 20px;
}

.tbody_div tr td:nth-child(2){
  cursor: pointer;
}

.tbody_div:last-child{
  padding-left: 20px;
}

.reg_button{
  width: 120px;
  font-family: 'Paperozi';
  font-size: 1.0rem;
  padding: 2px 6px;
  border-radius: 4px;
  border: 2.5px solid rgb(255, 185, 157);
  background-color: rgb(253, 224, 224);
  cursor: pointer;
}